:root {
  --mainBg-color: #0e1626;
  --mainColor: #4c5aa4;
  --softYellow: #f8f4b7;
  --hardyellow: #e7d683;
  --pink: #ec6480;
  --purple: #473b81;
}


* {
    margin:0;
    padding:0;
}

@font-face {
  font-family: 'MonumentRegular';
  src: url('./assets/fonts/MonumentExtended-Regular.otf');
}

@font-face {
  font-family: 'MonumentBold';
  src: url('./assets/fonts/MonumentExtended-Ultrabold.otf');
}

html {
  font-size: 62.5%;
  background-color: white;
  font-family: 'MonumentRegular', sans-serif;
}

body {
  max-width: 500px;
  margin: 0 auto; /* Centra el contenido en la página */
  padding: 1rem;
  background-color: var(--mainBg-color);
  height: 100vh;
}